/* 	================= 
		MAIN.CSS
	================= */


/* !!! CSS RESET !!! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 	==============================================
		BEGIN AUTHOR STYLING
	============================================== */

* {
	/*border:1px blue;*/
}

body {
	background-color: black;
	/*outline: 1px solid rgb(0,0,255);*/
}

.container {
	height: 100%;
	width: 100%;
}

h1 {
	font-family:monospace;
}

.text-info {
	position: fixed;
	top: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 90%;
	margin-left: 5%;
	color: white;
	background-color: black;
	text-align: center;
}

.text-info h1 {
	float: left;
	width: 20%;
	margin-right: 6.2%;
	/*border: 1px solid white;*/
}

.text-info h1:nth-child(4) {
	margin-right: 0;
}

.img-container {
	width: 90%;
	margin-top: 60px;
	margin-left: 5%;
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid white;
}

.img-set img {
	width: 20%;
	margin-right: 5.7%;
	border: 1px solid white;
	margin-bottom: 5.7%;
}

#comp {
	margin-top: 40px;
	margin-bottom: 40px;
	width: 60%;
	margin-left: 20%;
}

.img-container img:nth-child(4) {
	margin-right: 0;
}

#three-container {
	width: 70%;
	margin-left:15%;
	margin-bottom: 20px;
	background-color: white;
	/*border: 1px solid white;*/
	height: auto;
}

#three-container {
	position: relative;
}

.blocker {
	position: absolute;
	display: flex;
	justify-content:center;
	align-items:center;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: white;
	color:black;
}

.blocker h1 {
	margin-top: -40px;
	padding: 10px;
	text-align: center;
	font-size: 18px;
	letter-spacing: 10px;
}

.blocker h1:hover {
	cursor: pointer;
	color: red;
}